@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.logos{
vertical-align: middle;
text-align: center;
padding-top: 2px;

}
  .app {
    .top {
        height:30px;
        text-align:center;
        line-height:2.5;
        font-weight:bold;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5058dd;
        color:white;
background-repeat: round;
    }

    .bottom {
        text-align:center;
        line-height:1.5;
        font-weight:bold;
        align-items: center;
        justify-content: center;
        color: $ms-color-white;
        width:100%;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color:black;



    }
    .innerdiv{
      display: block;
    float: left;
    border: solid 2px;
    border-radius: 16px;
    padding: 3px;
    margin: 3px;
    background-color: white;
    color: gray;

   

    }

    


    .innerdiv:hover {
      display: block;
    float: left;
    border: solid 2px;
    border-radius: 16px;
    padding: 3px;
    margin: 3px;
    background-color: white;
    color: white;
    background-color:lightseagreen;
    cursor: pointer;
    }
  }